<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/cp_style.css" type="text/css">
  </head>

<link rel="shortcut icon" href="/static/Charger57x57.png" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/Charger57x57.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="/static/Charger144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/static/Charger152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="/static/Charger180x180.png"/>

  <body>
	<h2>{{ title }}</h2>
	<a href="/lnkd" class="button">LinkedIn</a>
	<a href="/lnkd1000" class="button">LinkedIn 1000 Maude</a>
	<a href="/lnkd700" class="button">LinkedIn 700 Middlefield</a>
	<a href="/vmw" class="button">VMware</a>
	<a href="/adbe" class="button">Adobe SJ</a>
	<a href="/intu" class="button">Intuit MV</a>
	<a href="/intu_mp" class="button">Intuit MP</a>
  </body>
</html>
